{% extends 'new-layout.njk' %}

{% block head %}
  <title> Foodfy || editar receita </title>
{% endblock %}

{% block content %}

  <form class="form" method="POST" action="/admin/recipes">

    <div class="header">
      <h3>Editando receita</h3>
      <button type="submit">Salvar receita</button>
    </div>

    {% include 'admin/fields.njk' %}

  </form>

  <script src="/scripts/scripts-create.js"></script>

{% endblock %}