<div class="item">
  <div>Imagem da receita</div>
  <div>
    <input type="url" name="recipe_url" placeholder="http://" value="{{ item.recipe_url }}">
  </div>
</div>

<div class="item">
  <div>Nome da receita</div>
  <div>
    <input type="text" name="name" placeholder="Nome de exibição da receita" value="{{ item.name }}">
  </div>
</div>

<div class="item">
  <div>Nome do Autor</div>
  <div>
    <input type="text" name="author" placeholder="Nome do criador" value="{{ item.author }}">
  </div>
</div>