{% extends 'layout.njk' %}

{% block content %}

  <div class="box">
    <div class="box-text">
      <h2> {{ index.h2 }} </h2>
      <p> {{ index.p }} </p>
    </div>

    <div class="box-img">
      <img src="{{ index.img }}" alt="{{ index.alt }}">
    </div>
  </div>

  <div id="acess">
    <h2> {{ index.acess }} </h2>
  </div>

  <section id="recipes">

    {% for item in items %}

      <div class="recipe">

        <div class="recipe-img">
          <img src="{{ item.img }}" alt="{{ item.alt }}">
        </div>

        <div class="description">
          <h3> {{ item.description }} </h3>
          <p> {{ item.name }} </p>
        </div>

      </div>

    {% endfor %}

  </section>

  <div id="modal-overlay">

    <div class="modals">

      <div class="modal-content">

        <div class="modal-img">
        </div>

        <div class="modal-description">
        </div>
      </div>

      <a class="close-modal">Fechar modal</a>

    </div>
    
  </div>
  
  <script src="/scripts/scripts-modal.js"></script>

{% endblock %}