{% extends 'layout.njk' %}

{% block head %}
  <title> Receitas - Foodfy </title>
{% endblock %}

{% block header %}

  <a href="/about"> Sobre </a>
  <a href="/recipes"> <strong> Receitas </strong> </a>
  <a href="/admin/create"> Criar Receita </a>

{% endblock %}


{% block content %}

  <section id="recipess">

    {% for item in items.recipes %}

      <div class="recipe" id="{{ item.id }}">

        <div class="recipe-img">
          
            <img src="{{ item.recipe_url }}" alt="{{ item.name }}">
          
        </div>

        <div class="description">
          <h3> {{ item.name }} </h3>
          <p> por {{ item.author }} </p>
          <a href="/recipes/{{item.id}}">Visualizar</a>
        </div>

      </div>

    {% endfor %}

  </section>
      
{% endblock %}